:root {
  --font-system: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  --font-family-mono: monaco, monospace;
  --font-family-serif: Georgia, Times New Roman, serif;

  --space: 1ch;
  --space-2x: calc(var(--space) * 2);
  --space-4x: calc(var(--space) * 4);
  --line: 1.25rem;
  --line-half: calc(var(--line) * 0.5);
  --line-2x: calc(var(--line) * 2);
  --line-4x: calc(var(--line) * 4);

  --col-num-spaces: 4;
  --col-width: calc(var(--col-num-spaces) * var(--space));
  --num-cols: 30;
  --width-max: calc(var(--col-width) * var(--num-cols) + var(--space) + var(--space));

  --control-line-num-cols: 5;
  --control-tile-num-visible-rows: 5;

  --color-black-100: #000;
  --color-black-100-1: rgba(0, 0, 0, 0.1);
  --color-black-100-2: rgba(0, 0, 0, 0.2);
  --color-black-100-4: rgba(0, 0, 0, 0.4);
  --color-black-daybreak-100: #040200;
  --color-black-daybreak-100-4: rgba(4, 2, 0, 0.4);
  --color-blue-10: #edf5ff;
  --color-blue-100: #001141;
  --color-blue-20: #d0e2ff;
  --color-blue-20-1: rgba(208, 226, 255, 0.1);
  --color-blue-20-2: rgba(208, 226, 255, 0.2);
  --color-blue-20-5: rgba(208, 226, 255, 0.5);
  --color-blue-30: #a6c8ff;
  --color-blue-40: #78a9ff;
  --color-blue-50: #4589ff;
  --color-blue-60: #0f62fe;
  --color-blue-60-2: rgba(15, 98, 254, 0.2);
  --color-blue-70: #0043ce;
  --color-blue-80: #002d9c;
  --color-blue-80-4: rgba(0, 45, 156, 0.4);
  --color-blue-80-6: rgba(0, 45, 156, 0.6);
  --color-blue-90: #001d6c;
  --color-blue-90-6: rgba(0, 29, 108, 0.6);
  --color-daybreak: #ff6c04;
  --color-daybreak-1: rgba(255, 108, 4, 0.1);
  --color-daybreak-10: #ef6300;
  --color-daybreak-10-5: rgba(239, 99, 0, 0.5);
  --color-daybreak-2: rgba(255, 108, 4, 0.2);
  --color-daybreak-20: #dc5b00;
  --color-daybreak-30: #c85300;
  --color-daybreak-4: rgba(255, 108, 4, 0.4);
  --color-daybreak-40: #b44b00;
  --color-daybreak-40-2: rgba(180, 75, 0, 0.2);
  --color-daybreak-50: #a14300;
  --color-daybreak-60: #8d3b00;
  --color-daybreak-70: #793200;
  --color-daybreak-70-3: rgba(121, 50, 0, 0.3);
  --color-daybreak-80: #662a00;
  --color-daybreak-90: #522200;
  --color-gold-30: #f1c21b;
  --color-gray-10: #f4f4f4;
  --color-gray-100: #161616;
  --color-gray-20: #e0e0e0;
  --color-gray-20-7: hsla(0, 0%, 88%, 0.7);
  --color-gray-30: #c6c6c6;
  --color-gray-30-7: hsla(0, 0%, 88%, 0.7);
  --color-gray-40: #a8a8a8;
  --color-gray-40-2: hsla(0, 0%, 66%, 0.2);
  --color-gray-50: #8d8d8d;
  --color-gray-60: #6f6f6f;
  --color-gray-70: #525252;
  --color-gray-70-3: rgba(82, 82, 82, 0.3);
  --color-gray-80: #393939;
  --color-gray-80-6: rgba(57, 57, 57, 0.6);
  --color-gray-90: #262626;
  --color-gray-90-6: rgba(38, 38, 38, 0.6);
  --color-green-60: #198038;
  --color-green-60-3: rgba(25, 128, 56, 0.3);
  --color-neon-green-10: #f2ffe9;
  --color-neon-green-100: #0a2c02;
  --color-neon-green-100-1: rgba(10, 44, 2, 0.1);
  --color-neon-green-100-2: rgba(10, 44, 2, 0.2);
  --color-neon-green-100-4: rgba(10, 44, 2, 0.4);
  --color-neon-green-20: #d5ffbf;
  --color-neon-green-30: #b2ff94;
  --color-neon-green-40: #8aff68;
  --color-neon-green-50: #5cff3b;
  --color-neon-green-50-5: rgba(92, 255, 59, 0.5);
  --color-neon-green-70: #00cf00;
  --color-neon-green-70-3: rgba(0, 207, 0, 0.3);
  --color-neon-green-70-7: rgba(0, 207, 0, 0.7);
  --color-neon-green-80: #009f00;
  --color-neon-green-80-1: rgba(0, 159, 0, 0.1);
  --color-neon-green-80-2: rgba(0, 159, 0, 0.2);
  --color-neon-green-80-4: rgba(0, 159, 0, 0.4);
  --color-neon-green-90: #106b02;
  --color-red-60: #da1e28;
  --color-red-60-3: rgba(218, 30, 40, 0.3);
  --color-white: #fff;
  --color-white-1: hsla(0, 0%, 100%, 0.1);
  --color-white-2: hsla(0, 0%, 100%, 0.2);
  --color-white-4: hsla(0, 0%, 100%, 0.4);
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* themes */
.theme-blue {
  --theme-overlay: var(--color-blue-20-5);
  --theme-background: var(--color-blue-80);
  --theme-border: var(--color-blue-70);
  --theme-border-subdued: var(--color-blue-60-2);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);
  --theme-primary: var(--color-gold-30);
  --theme-success: var(--color-green-60);
  --theme-success-subdued: var(--color-green-60-3);
  --theme-text: var(--color-blue-10);

  --theme-button: var(--color-blue-10);
  --theme-button-text: var(--color-blue-80);

  --theme-button-foreground: var(--color-blue-60);
  --theme-button-background: var(--color-blue-70);
  --theme-focused-foreground: var(--color-blue-50);
  --theme-focused-foreground-subdued: var(--color-blue-50-5);
}

.theme-light {
  --theme-overlay: var(--color-black-100-4);
  --theme-background: var(--color-white);
  --theme-border: var(--color-gray-20);
  --theme-border-subdued: var(--color-gray-40-2);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);
  --theme-primary: var(--color-blue-60);
  --theme-success: var(--color-neon-green-70);
  --theme-success-subdued: var(--color-neon-green-70-3);
  --theme-text: var(--color-black-100);

  --theme-button: var(--color-black-100);
  --theme-button-text: var(--color-white);

  --theme-button-foreground: var(--color-gray-30);
  --theme-button-background: var(--color-gray-20);
  --theme-focused-foreground: var(--color-neon-green-50);
  --theme-focused-foreground-subdued: var(--color-neon-green-50-5);
}

.theme-dark {
  --theme-overlay: var(--color-white-100-4);
  --theme-background: var(--color-black-100);
  --theme-border: var(--color-gray-90);
  --theme-border-box: var(--color-gray-80);
  --theme-border-subdued: var(--color-gray-70-3);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);
  --theme-primary: var(--color-gold-30);
  --theme-success: var(--color-green-60);
  --theme-success-subdued: var(--color-green-60-3);
  --theme-text: var(--color-white);

  --theme-button: var(--color-white);
  --theme-button-text: var(--color-black-100);

  --theme-button-foreground: var(--color-gray-90);
  --theme-button-background: var(--color-gray-80);
  --theme-focused-foreground: var(--color-daybreak-10);
  --theme-focused-foreground-subdued: var(--color-daybreak-10-5);
}

body {
  background: var(--theme-background);
}

.grid {
  height: 100dvh;
  margin: 0 0;
  padding: var(--line) var(--space);
  display: grid;
  width: var(--width-max);
  grid-template-columns: repeat(var(--num-cols), var(--col-width));
  grid-auto-rows: var(--line);
  background: var(--theme-background);
  font-family: var(--font-family-mono);
  line-height: var(--line);
  color: var(--theme-text); /* This is where currentColor inherits from */
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: var(--line);
  gap: 0;
}

.App {
  grid-template-rows: [Intro] calc(var(--line) * 4) [Control] 1fr [Edit] 1fr;
}

.Controller {
  font-size: 12px;
  grid-auto-rows: calc(var(--line) * var(--control-tile-num-visible-rows));
}

.control-tile {
  grid-template-rows: repeat(var(--control-tile-num-visible-rows), var(--line));
  border: 0.5px solid var(--theme-border);
}

.GLWebLogo {
  width: calc(5 * var(--space));
  height: calc(var(--line));
  object-fit: contain;
}

.start-line {
  grid-column-start: 1;
}

.span-line {
  grid-column-end: span var(--num-cols);
}

.span-control-line {
  grid-column-end: span var(--control-line-num-cols);
}

.line {
  grid-column-start: 1;
  grid-column-end: span var(--num-cols);
}

.control-line {
  grid-column-start: 1;
  grid-column-end: span var(--control-line-num-cols);
}

.label {
  grid-column: 1 / var(--control-line-num-cols);
  text-align: left;
}

.content {
  grid-column-start: var(--control-line-num-cols);
  text-align: center;
}

.title {
  text-align: left;
  text-transform: uppercase;
  background: var(--theme-border);
}

.subdued {
  opacity: 0.5;
}

.Badge {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: 400;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: var(--font-family-mono);
  text-transform: uppercase;
  transition: 200ms ease all;
  background: var(--theme-border);
  padding: 0 1ch 0 1ch;
}

.icon-inline {
  width: calc(var(--space) * 2);
  height: var(--line);
  vertical-align: top;
}
