/*
 NAMING CONVENTION
   ComponentName_element
   
   Example:
   .Button_root
   .Button_icon

 anything that could be put in here, 
 in regards to component styling, 
  should be put in here
*/

.DefaultLayout_body {
  max-width: var(--width-max);
}

.DefaultLayout_pixel {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.GLWebLogo_root {
  width: calc(5 * var(--space));
  height: calc(var(--line));
  object-fit: contain;
}

.Grid_root {
  display: block;
  padding: var(--line-half) var(--space-2x);
}

.Row_row {
  display: block;
  outline: 0;
  border: 0;
  transition: var(--transition);
}

.Row_row:focus {
  background: var(--theme-focused-foreground);
}
.Badge_root {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: 400;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: var(--font-mono);
  font-size: 10px;
  min-height: var(--line);
  text-transform: uppercase;
  transition: 200ms ease all;
  background: var(--theme-border);
  padding: 0 var(--space);
}

.Text_text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.Panel_panel {
  position: relative;
  display: block;
  padding: 0 var(--space) var(--line-half) var(--space);
}

.Panel_children {
  box-shadow:
    inset 1px 0 0 0 var(--theme-text),
    inset -1px 0 0 0 var(--theme-text),
    0 1px 0 0 var(--theme-text);
  display: block;
  padding: var(--line-half) var(--space-2x) var(--line) var(--space-2x);

  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
}

.Panel_children::-webkit-scrollbar {
  display: none;
}

.Panel_action {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.Panel_left {
  min-width: 10%;
  width: 100%;
  box-shadow:
    inset 1px 0 0 0 var(--theme-text),
    inset 0 1px 0 0 var(--theme-text);
  padding: var(--line-half) var(--space-2x) 0px var(--space);
}

.Panel_leftCorner {
  flex-shrink: 0;
  box-shadow:
    inset 1px 0 0 0 var(--theme-text),
    inset 0 1px 0 0 var(--theme-text);
  padding: var(--line-half) var(--space) 0px var(--space);
}

.Panel_right {
  min-width: 10%;
  width: 100%;
  box-shadow:
    inset -1px 0 0 0 var(--theme-text),
    inset 0 1px 0 0 var(--theme-text);
  padding: var(--line-half) var(--space-2x) 0px var(--space);
}

.Panel_rightCorner {
  flex-shrink: 0;
  box-shadow:
    inset -1px 0 0 0 var(--theme-text),
    inset 0 1px 0 0 var(--theme-text);
  padding: var(--line-half) var(--space) 0px var(--space);
}

.Panel_title {
  flex-shrink: 0;
  padding: 0 var(--space) 0 var(--space);
  font-size: 16px;
  font-weight: 400;
}

.ActionBar_root {
  background: var(--theme-background);
  box-shadow: inset 0 0 0 1px var(--theme-button-foreground);
}

.ActionButton_hotkey {
  background: var(--theme-button-foreground);
  color: var(--theme-text);
  flex-shrink: 0;
  cursor: pointer;
  transition: 200ms ease all;
  font-weight: 400;
  transition-property: background;
  padding: 0 var(--space) 0 var(--space);
  user-select: none;
}

.ActionButton_content {
  box-shadow: inset 0 0 0 2px var(--theme-button-foreground);
  background: var(--theme-button-background);
  min-width: 10%;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  padding: 0 var(--space) 0 var(--space);
  text-transform: uppercase;
  transition: 200ms ease all;
  transition-property: background;
  user-select: none;
}

.ActionButton_root {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-mono);
}

.ActionButton_root:hover .ActionButton_hotkey {
  background: var(--theme-focused-foreground);
}

.ActionButton_root:hover .ActionButton_content {
  box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
}

.ActionButton_root:focus .ActionButton_hotkey {
  background: var(--theme-focused-foreground);
}

.ActionButton_root:focus .ActionButton_content {
  box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
}

.CellPicker_root {
  display: inline-block;
  user-select: none;
}

.CellPicker_controls {
  align-items: center;
  background: var(--theme-border);
  display: flex;
  justify-content: space-between;
}

.CellPicker_button {
  align-self: stretch;
  background: none;
  border: none;
  color: var(--theme-text);
  cursor: pointer;
  display: inline-block;
  line-height: calc(var(--theme-line-height-base) * 1em);
  margin: 0;
  outline: 0;
  padding: 0 1ch 0 1ch;
}

.CellPicker_button:focus {
  background: var(--theme-focused-foreground);
  outline: 0;
}

.CellPicker_sheet {
  min-width: 10%;
  padding: 0 var(--space) 0 var(--space);
  text-align: left;
  width: 100%;
}

.CellPicker_header {
  background: var(--theme-border);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(20px, 1fr));
  text-align: center;
}

.CellPicker_grid {
  background: var(--theme-border-subdued);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(20px, 1fr));
  grid-template-rows: repeat(5, min-content);
  align-items: start;
  min-height: calc(var(--theme-line-height-base) * 5em);
}

.CellPicker_cell {
  outline: none;
  border: 1px solid var(--theme-border-subdued);
  padding: 0 var(--space) 0 var(--space);
  text-align: center;
}

.CellPicker_cell:focus {
  background: var(--theme-focused-foreground);
}
